<!DOCTYPE html>
<html>
<head>
  <title>HackU</title>
  <%= paste_css_tags 'application' %>
  <%= paste_js_tags %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
  FB.init({appId: '<%= Rails.application.config.fb_app_id %>', status: true, cookie: true, xfbml: true});
  FB.Event.subscribe('auth.sessionChange', function(response) {
    if (response.session) {
      document.location.href = "<%= graph_url %>";
      // A user has logged in, and a new cookie has been saved
    } else {
      // The user has logged out, and the cookie has been cleared
    }
  });
</script>
</body>
</html>
